html {
	font-family: Helvetica, Arial, sans;
}

body {
	margin: 10px 0;
}

#natmeth {
	padding: 5px 3px;
	height: 35px;
	background: #657691;
	margin-bottom:2px;
}

#natmeth img {
	height: 25px;
}

#mast {
	padding: 5px;
	margin: 0;
	background-color: rgba(101,118,145,0.5);
	font-size: 90%;
	text-align: left;
	color: white;
	margin-bottom:2px;
}
#mast a {
color: inherit;
text-decoration: underline;
}

/* plot container and title, plot and caption */
.plotbox {
	clear: both;
	margin: 20px 0 40px;
	padding: 0;
}
.title {
	padding: 0 0 5px 0;
	margin-bottom: 5px;
	/*border-top: 1.5px solid #666;*/
	color: #333;
}
.plot {
	margin: 15px 0 10px;
	text-align:left;
}
.caption {
	font-size: 90%;
	padding-left: 0px;
	color: #666;
	margin-bottom: 0em;
}
.caption1, .caption2, .caption3 {
}
.copy p {
	margin: 0 0 0.5em 0;	
}
.copy1, .copy2, .copy3 {
}

.affiliations p {
	margin: 0;
}

.caption p::before {
  content: "▲ ";
  font-size:75%;
  color: #333; /*#ec008c;*/
}

/* Pane page title */
h3 {
	color: #333;
	font-size: 150%;
	margin: 0 0 0.5em 0;
}

/* KEY OBSERVATIONS */
h4 {
	text-transform: uppercase;
	font-size: 90%;
	font-weight: bold;
	color: #333;
	margin: 1em 0 0.25em 0;
}

/* "Supplemental Figure N" in figure header */
h5 {
	font-weight: normal;
	font-size: 100%;
	color: #333;
	padding: 0;
	margin-top: 0.5em;
	
}

h5 p {
	margin: 3px 0;
}

/* parameter table container and title */
div.parameters {
	background: rgb(250,250,250);
	float: right;
	min-width: 175px;
	padding: 10px 20px;
	margin: 0 0 10px 10px;
	border: 2px solid #e9e9e9;
	border-radius: 4px;
}

div.parameters div {
	margin:  0;
	padding: 0;
	margin-bottom: 0.5em;
	padding-bottom: 0.25em;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #ccc;
	font-size: 90%;
}

table {

}

table tr {
	padding: 10px 0;
}
table tr td:first-child {
	color: #666;
	padding-right: 10px;
	text-align: right;
}
table tr td:first-child td {
	text-align:left;
}

.timing {
	color: #aaa;
	font-size: 80%;
}